<html>
	<body>
		{% for r in restaurant %}
		<h2>{{r.name}}</h2>
		{% endfor %}
		{%for i in items%}		
		<h3>{{i.name}}</h3> 
		{{i.course}}<br>
		{{i.description}}<br>
		{{i.price}}<br><br><br>
		Confirm that you want to delete the menu item.
		<br>CANNOT BE UNDONE!
		<form method ='POST' enctype ='multipart/form-data' actions='/deleteitem'>
		<input type='submit' value='Delete'>
		</form>
		{% endfor %}
		{% for r in restaurant %}
		<a href='{{url_for('restaurantMenu', restaurant_id = r.restaurant_id)}}'>Cancel and return to menu.</a>
		{% endfor %}
	</body>
</html>