<html>
<head>	
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css') }}"
</head>
	<body>
		{% for r in restaurant %}
		<h2>{{r.name}}</h2>
		{% endfor %}
		{% for i in items %}		
		<h3>{{i.name}}</h3> 
		{{i.course}}<br>
		{{i.description}}<br>
		{{i.price}}<br><br><br>
		<form method ='POST' enctype ='multipart/form-data' actions='/edititem'>
		*New name: <input type='text' placeholder={{i.name}} name='new_name' ><br>
		*New course: <input type='text' placeholder={{i.course}} name='new_course' ><br>
		*New description: <input type='text' placeholder={{i.description}} name='new_description' ><br>
		*New price: <input type='text' placeholder={{i.price}} name='new_price' ><br>
		<input type='submit' value='Edit'>
		<input type='reset' value='Reset'>	
		</form>
		{% endfor %}
		{% for r in restaurant %}
		<a href='{{url_for('restaurantMenu', restaurant_id = r.restaurant_id)}}'>Cancel and return to menu.</a>
		{% endfor %}
	</body>
</html>