<html>
<head>	
	<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css') }}"
</head>
	<body>
		{% for r in restaurant %}
		<h2>{{r.name}}</h2>
		<div>
		<form method ='post' enctype ='multipart/form-data' actions='/new'>
		New Menu Item Name: <input type='text' name='name' ><br>
		Course: <input type='text' name='course' ><br>
		Description: <input type='text' name='description' ><br>
		Price: <input type='text' name='price' ><br>
		<input type='submit' value='Create'>
		<input type='reset' value='Reset'></br>		
		<a href='{{url_for('restaurantMenu', restaurant_id = r.restaurant_id)}}'>Cancel and return to menu.</a>
		{% endfor %}
		</div>
	</body>
</html>