{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner main">
		<div class="col-md-1">
		</div>
		<div class="col-md-11 padding-none">
			<h1>Restaurants</h1>
		</div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			
		</div>
		<div class="col-md-1"></div>
	</div>
	{% for restaurant in restaurants %}
		<a href = "{{url_for('restaurantMenu', restaurant_id = restaurant.restaurant_id)}}">
			<div class="row">
				<div class="col-md-1"></div>
					<div class="col-md-10 restaurant-list">
						<h3>{{restaurant.name}}</h3>
						<div
							class="fb-like"
							data-share="true"
							data-width="450"
							data-show-faces="true">
						</div>
					</div>
				<div class="col-md-1"></div>
			</div>
		</a>
	{% endfor %}
{% endblock %}