{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row banner main">
		<div class="col-md-1">
		</div>
		<div class="col-md-11 padding-none">
			<h1>Restaurants</h1>
		</div>
	</div>
	<h3><a href='{{url_for('restaurantNew')}}'> To add a restaurant, click here.</a></br></h3>
	{% for r in restaurants %}
		<a href='{{url_for('restaurantMenu', restaurant_id = r.restaurant_id)}}'class="btn btn-info btn-lg active" role="button">{{r.name}}</a>
		<a href='{{url_for('restaurantEdit', restaurant_id = r.restaurant_id)}}'class="btn btn-warning btn-xs active" role="button">Edit</a>
		<a href='{{url_for('restaurantDelete', restaurant_id = r.restaurant_id)}}'class="btn btn-danger btn-xs active" role="button">Delete</a>
		<br><br>
	{% endfor %}
{% endblock %}