{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
		Please enter the name of your new restaurant:
		<form method ='POST' enctype ='multipart/form-data' actions='/restaurantnew'>
		
		<input type='text' placeholder='Type your new name here.' name='name' ><br>
		<input type='text' placeholder='Type the url of your restaurant image here.' name='image' ><br>
		<input type='submit' value='Add Restaurant'>
		<input type='reset' value='Reset'>
		</form>
		<a href='{{url_for('restaurants')}}'>Cancel and return to list of Restaurants.</a>
		</br>
		</br>
{% endblock %}